<?xml version="1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1//EN" "http://www.apple.com/DTDs/PropertyList-1.dtd">
<plist version="1">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Media player</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>enableMediaPlayer</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>artworkTransition</string>
			<key>label</key>
			<string>Artwork transition</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>adaptiveMediaPlayerBackground</string>
			<key>label</key>
			<string>Adaptive background color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Custom background color:</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>customMediaPlayerBackgroundColor</string>
			<key>supportsAlpha</key>
			<false/>
			<key>fallback</key>
			<string>1A1A1A</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>mediaPlayerBackgroundAmount</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Offset</string>
			<key>footerText</key>
			<string>This does not affect iPad</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>40</real>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>mediaPlayerOffset</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>40</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

	</array>
	<key>title</key>
	<string>Diary</string>
</dict>
</plist>
