<?xml version="1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1//EN" "http://www.apple.com/DTDs/PropertyList-1.dtd">
<plist version="1">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Style override</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Time and date</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>overrideTimeDateStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Windows 10</string>
				<string>Windows 11</string>
			</array>
			<key>alignment</key>
			<string>2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>overridePasscodeStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Windows 10</string>
				<string>Windows 11</string>
			</array>
			<key>alignment</key>
			<string>2</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font family</string>
			<key>footerText</key>
			<string>I couldn't add the original Windows 10 font (SegoeUI) due to its license, Selawik is Microsoft's free alternative to SegoeUI and Open Sans looks similar</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>fontFamily</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Selawik</string>
				<string>Open Sans</string>
				<string>System</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Z-Index</string>
			<key>footerText</key>
			<string>Increasing this can fix tweak compatibility issues with the Windows 10 style for the time and date</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>useCustomZIndex</string>
			<key>label</key>
			<string>Use custom z-index</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>customZIndex</string>
			<key>label</key>
			<string>Index: %i</string>
			<key>max</key>
			<real>2</real>
			<key>min</key>
			<real>0</real>
			<key>singularLabel</key>
			<string>Index: 1</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notification offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>notificationOffset</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Others</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideChargingView</string>
			<key>label</key>
			<string>Hide charging view</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>disableTodaySwipe</string>
			<key>label</key>
			<string>Disable today swipe</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>disableCameraSwipe</string>
			<key>label</key>
			<string>Disable camera swipe</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideNotificationsHeader</string>
			<key>label</key>
			<string>Hide notifications header</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>alwaysShowNotifications</string>
			<key>label</key>
			<string>Always show notifications</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Default interface customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultStatusBar</string>
			<key>label</key>
			<string>Hide status bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultFaceIDLock</string>
			<key>label</key>
			<string>Hide faceid lock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultTimeAndDate</string>
			<key>label</key>
			<string>Hide time and date</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideNotificationsHint</string>
			<key>label</key>
			<string>Hide notifications hint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultQuickActions</string>
			<key>label</key>
			<string>Hide quick actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultUnlockText</string>
			<key>label</key>
			<string>Hide unlock text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultHomebar</string>
			<key>label</key>
			<string>Hide homebar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>hideDefaultPageDots</string>
			<key>label</key>
			<string>Hide page dots</string>
		</dict>

	</array>
	<key>title</key>
	<string>Diary</string>
</dict>
</plist>
