<?xml version="1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1//EN" "http://www.apple.com/DTDs/PropertyList-1.dtd">
<plist version="1">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time and date</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>enableTimeAndDate</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Formatting</string>
			<key>footerText</key>
			<string>For 12h clock use hh:mm, more formats can be found on the internet</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>HH:mm</string>
			<key>placeholder</key>
			<string>HH:mm</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>label</key>
			<string>Time Format:</string>
			<key>key</key>
			<string>timeFormat</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>EEEE d. MMMM</string>
			<key>placeholder</key>
			<string>EEEE d. MMMM</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>label</key>
			<string>Date Format:</string>
			<key>key</key>
			<string>dateFormat</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Locale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>useCustomDateLocale</string>
			<key>label</key>
			<string>Use custom date locale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>placeholder</key>
			<string>en_US</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>label</key>
			<string>Locale:</string>
			<key>key</key>
			<string>customDateLocale</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Up next</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>enableUpNext</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>label</key>
			<string>Default:</string>
			<key>key</key>
			<string>defaultEvents</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Calendar events</string>
				<string>Reminders</string>
				<string>Alarms</string>
			</array>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>eventsRange</string>
			<key>label</key>
			<string>Events from within %i days</string>
			<key>max</key>
			<real>360</real>
			<key>min</key>
			<real>1</real>
			<key>singularLabel</key>
			<string>Events from within 1 day</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showCalendarEventButton</string>
			<key>label</key>
			<string>Show calendar button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showReminderButton</string>
			<key>label</key>
			<string>Show reminder button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showAlarmButton</string>
			<key>label</key>
			<string>Show alarm button</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Weather</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showWeather</string>
			<key>label</key>
			<string>Show weather</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Connectivity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showBatteryIcon</string>
			<key>label</key>
			<string>Show battery icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showBatteryPercentage</string>
			<key>label</key>
			<string>Show battery percentage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showWifiIcon</string>
			<key>label</key>
			<string>Show wifi icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showCellularIcon</string>
			<key>label</key>
			<string>Show cellular icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>showCellularType</string>
			<key>label</key>
			<string>Show cellular type</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gestures</string>
			<key>footerText</key>
			<string>You won't be able to interact with notifications on the set area above, my apologies, but it's the only way I got it working</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>slideUpToUnlock</string>
			<key>label</key>
			<string>Slide up to unlock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>bounceOnTap</string>
			<key>label</key>
			<string>Bounce on tap</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>slideUpToUnlockPosition</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>alignment</key>
			<string>3</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Time and date tint color:</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>timeDateColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>FFFFFF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Up next tint color:</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>upNextColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>FFFFFF</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPickerCell</string>
			<key>label</key>
			<string>Connectivity tint color:</string>
			<key>defaults</key>
			<string>love.litten.diarypreferences</string>
			<key>key</key>
			<string>connectivityColor</string>
			<key>supportsAlpha</key>
			<true/>
			<key>fallback</key>
			<string>FFFFFF</string>
		</dict>

	</array>
	<key>title</key>
	<string>Diary</string>
</dict>
</plist>
